body {
  margin: 0;
  box-sizing: border-box;
  background-color:rgba(255, 228, 196, 0.826);
}

.navbar {
  width: 100%;
  height: 70px;
  background-color:rgba(114, 65, 43, 0.836);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}

.channel-card {
  display: grid;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
